---
import Counter from '../components/Counter';
import CenteredLayout from '../layouts/CenteredLayout.astro';
---

<CenteredLayout title="Astro">
	<div class="text-center">
		<h1 class="text-4xl font-bold mb-6">Astro</h1>
		<Counter client:load />
	</div>
</CenteredLayout>
